.time {
  float: right;
  margin-right: 50px;
}

.hide {
  display: none;
}

h1,
h2,
p {
  text-align: center;
}

button {
  background-color: purple;
  color: goldenrod;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
}
/* fonts
font-family: 'Open Sans', sans-serif;
light 300, regular 400, Bold 700
 */
