body {
  background-color: rgba(181, 129, 241, 0.815);
  background-image: url("../images/background.jpg");
}
.time {
  float: right;
  margin-right: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: x-large;

  /* color: rgb(255, 196, 0); */
  background: rgba(1, 1, 14, 0.664);
  color: mediumspringgreen;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: mediumvioletred;
}

.hide {
  display: none;
}
.container {
  background-color: rgba(181, 129, 241, 0.815);
  width: 45%;
  /* margin-top: 75px;
  margin-left: 75px; */
  margin: 50px;
  padding: 30px 50px 50px 50px;
  border-color: mediumvioletred;
  border-style: inset;
}
h1,
h2,
label {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: rgb(10, 10, 102);
}
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: medium;
  color: mediumspringgreen;
}
a:hover {
  color: mediumvioletred;
}

p,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: medium;
  color: rgb(10, 10, 102);
  /* margin-bottom: 0px; */
}

button {
  background-color: rgba(10, 10, 102, 0.829);
  /* color: rgb(255, 196, 0); */
  color: mediumspringgreen;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 700;
}

button:hover {
  color: mediumvioletred;
  cursor: pointer;
  /* -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: mediumspringgreen; */
}

@media screen and (max-width: 480px) {
  h1,
  h2,
  label {
    font-size: medium;
  }

  button {
    font-size: x-small;
  }
}
